.snap-ui-renderer__input {
  & > .mm-text-field {
    height: 100%;
    max-height: 58px;
  }

  & .mm-text-field > .snap-ui-renderer__panel { gap: 8px; }

  & input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button { margin:0; }
  }

  & .snap-ui-renderer__image {
      vertical-align: middle;
      max-height:max-width:max(20px,20px);
      max-width:max(20px,20px);
}
}
